#   cp .env.example .env
# 카카오 로그인 앱 키
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# 카카오 인가 요청에 사용한 redirect_uri
KAKAO_REDIRECT_URI=http://localhost:3000/auth/login/callback

# 액세스 토큰 서명 키
JWT_SECRET=

# DB 접속 정보
# DB_URL=
# DB_USERNAME=
# DB_PASSWORD=

# Redis 접속 정보
# REDIS_HOST=
# REDIS_PORT=

# 프론트 도메인
# CORS_ALLOWED_ORIGINS=

# AWS IVS
# AWS_REGION= us-east-1 / us-west-2 / ap-northeast-1 / ap-northeast-2 / ap-south-1 / eu-central-1 / eu-west-1

# IVS 채널 타입
# IVS_CHANNEL_TYPE=

